body {
    font-family: 'Raleway', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3, h4 {
    font-weight: 100;
}

h1 {
    color: white;
    font-weight: 300;
}

a {
  color: #ff6666;
}
 a, h1, h2, h3, h4, p, input, textarea, button, span {
  font-family: 'Open Sans', sans-serif;
}

p {
  color: white;
  font-weight: 300;
}

p.text {
  color: #222;
}

.titletext {
  font-weight: 500;
  font-size: 24pt;
}
.redtext {
  color: #ff6666;
  font-weight: 500;
}
.pure-group {
  text-align: center;
  margin-left: 15% !important;
  margin-right: 15% !important;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background:url("../img/prof_dark.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.brand-title,
.brand-tagline {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.brand-title {
    text-transform: uppercase;
    font-weight: 600;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: 300;
}
.nav-item a {
    background: transparent;
    border: 1px solid white;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 1px solid #ff6666;
    text-decoration: none;
}

.pure-button {
  border: 0;
  background-color: #ff6666;
  font-family: 'Open Sans', sans-serif;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.resume-btn {
  margin-top: 25px;
  color: white;

}

span .pure-button {
  margin-top: 10px;
  border: 1px solid #ff6666;
  color: #fff;
  background-color: #ff6666;
}
span .pure-button:hover,
span .pure-button:focus {
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: white;
  color: #ff6666;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 3em;
    color: #222;
    margin-bottom: 0.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
    font-size: 1em;
}

.post-images {
    width: 100%;
    border-radius: 5px;
}

.img-text {
  position: absolute;
  left: 0;
  top: 30%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  color: white;
  opacity: 0;
  font-weight: 300;
  font-size: 3em 1em 0;
}

div.img-wrap {
  display: inline-block;
    position: relative;
    background: #222;
    margin: 5px;
    height: auto;
    width: 90%;
    border-radius: 5px;
}

div.img-wrap img {
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.img-wrap:hover img {
    opacity: 0;
}

div.img-wrap:hover .img-text {
    opacity: 1;
}

.shadow:hover {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.center {
  text-align: center;
}

/* MODAL BUTTON */
#closebt-container {
	position: relative;
	width:100%;
	text-align:center;
	margin-top:40px;
}

.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}

.closebt:hover {
	transform:rotate(90deg);
}

.margin5 {
  margin-top: 5%;
}

#item > p  {
	margin:0px;
	color:#E74B3D;
}

.hidden-link {
  visibility: hidden;
}

.h-link {
  cursor: pointer;
}

.media-icon {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0 6px;
  cursor: pointer;
}

.media-icon:hover path {
  fill: #ff6666;
}

.media-icon path {
  fill: #222;
}

#btn-close-modal {
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.prch-img {
    height: auto;
    width: 75%;
}
.grape-img {
    height: 665px;
    width: 375px;
}
.sb-img {
  height: auto;
  width: 80%;
}

@media (min-width: 64em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%
    }

    .header {
        margin: 10%;
        position: absolute;
        bottom: 0;
        text-align: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        border-top-right-radius: 50px;
    }
}

@media (max-width: 64em) {
  .sidebar {
    background-size: cover;
  }
  .header {
    margin-top: 30%;
  }
  .img-text {
    top: 10%;
  }
  .grape-img {
      height: auto;
      width: 75%;
  }
}

@media (max-width: 48em) {
  span .pure-button {
    display: none;
  }
  .img-text {
    top: 20%;
  }
  .margin5 {
    margin-top: 0;
  }
  .grape-img {
      height: auto;
      width: 75%;
  }
}

@media (max-width: 35.5em) {
  span .pure-button {
    display: none;
  }
  .img-text {
    top: 10%;
  }
  .margin5 {
    margin-top: 0;
  }
  .grape-img {
      height: auto;
      width: 75%;
  }
}

/* ANIMATION */
.x {
  text-align:center;
  font-size:50px;
  line-height:50px;
  font-weight:100;
  color:#ffffff;
  position:fixed;
  top: 0;
  right: 0;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.x:hover{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
