 body {
	background: #e6ecf0;
 }


 a {
 	font-weight: 500;
 }

hr {
	border-top: 1px solid #ccc;
}

.my-face {
	border-radius: 100px;
	max-width: 73px;
	height: auto;
	border: 2px solid #fff;
	box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, .2);
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    border: none;
    border-radius: .25em;
    margin-bottom: 40px;
    background: #fafafa;
    box-shadow: 12px 12px 0px 1px rgba(255, 0, 0, .2);  
    justify-content: space-between;
}

.email-text {
	font-weight: 500;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.icon-btn-text {
	font-weight: 500;
	padding-left: 5px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 325px;
    max-width: 325px;
    background: #fafafa;
    border-radius: .25rem;
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    color: #000;
    transition: all 0.3s;
    box-shadow: 12px 12px 0px 1px rgba(0, 0, 255, .2);
}

#sidebar.active {
    margin-left: -325px;
}

#sidebar .row {
	margin: 0;
}

#sidebar .sidebar-header {
    padding: 45px 0px 45px 20px;
    background: linear-gradient(-225deg, #48c6ef, #6f86d6);
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    color: #fff;
}

.shadow-text {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #000;
    padding: 20px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #eee;
}

#sidebarCollapse {
	background: #007bff;
	color: #fff;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.fa-fw {
	margin-right: 10px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.section-title {
	font-weight: 800;
	font-size: 64px;
	margin-bottom: 20px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.content-container {
    padding: 20px 40px 40px 40px;
    background: #fff;
    border: none;
    border-radius: .25em;
    margin-bottom: 40px;
    background: #fafafa;
    box-shadow: 12px 12px 0px 1px rgba(0, 255, 0, .2);  
}

.jumbotron {  
	color: #fff;
	height: 350px;
}

.jumbotron .lead, .display-5 {
	text-shadow: 1px 1px #000;
}

#clickndig {
	background-color: #6D91AD;
	background: #6D91AD no-repeat url('../img/clickndig-img.png');
	background-position: center right;
	background-size: auto 350px;

}

#grape {
	background: #BFA6CC;
	background: #BFA6CC no-repeat url('../img/grape-img.png');
	background-position: center right;
	background-size: auto 350px;
}

#me {
	background: no-repeat url('../img/me.png');
	background-position: center;
	background-size: 100% auto;
	height: 500px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
	    min-width: 250px;
    	max-width: 250px;
        margin-left: -270px;
    }

    #sidebar.active {
        margin-left: -5px;
    }

    #sidebarCollapse span {
        display: none;
    }

    .email-text.active {
    	display: none;
    }

	.content-container {
	    padding: 20px 35px 20px 15px;
	}

	#clickndig {
		background-color: #6D91AD;
		background: #6D91AD no-repeat url('../img/clickndig-img.png');
		background-position: right bottom;
		background-size: 250px auto;
		height: 500px;

	}

	#grape {
		background: #BFA6CC;
		background: #BFA6CC no-repeat url('../img/grape-img.png');
		background-position: right bottom;
		background-size: 250px auto;
		height: 500px;
	}

}