/* home */
::selection {
	color: #000;
	background: #5EFFAE;
}

body {
	font-family: 'Ledger', serif;
	font-size: 20px;
	color: #333;
	position: relative;
}


a {
	font-weight: 500;
}

h1 {
	font-family: 'Gaegu', cursive;
}

section {
	padding-top: 100px;
}

button {
	margin-top: 48px;
	display: block;
}

.section-heading {
	font-size: 64px;
}

.vert-center {
	margin-top: auto;
	margin-bottom: auto;
}


/* NAVBAR ******************************************************/

.navbar {
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0));
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,0.68);
}

.navbar-light .navbar-toggler {
	border: 3px solid #333;
}

.navbar-brand {
    background-image: linear-gradient(120deg, #FF7373 0%, #FF7373 100%);
    background-repeat: no-repeat;
    background-size: 0% 1.5em;
    background-position: 0 50%;
    transition: background-size 0.2s ease-in;
    animation: colorswitch 1.2s infinite ease-in-out;
}

.navbar-brand:hover {
	background-size: 100% 1.5em;
	color: #000;
}

#nav-work {
    background-image: linear-gradient(120deg, #FF7373 0%, #FF7373 100%);
    background-repeat: no-repeat;
    background-size: 0% 0.90em;
    background-position: 0 75%;
    
}

#nav-about {
	background-image: linear-gradient(120deg, #FFDF00 0%, #FFDF00 100%);
    background-repeat: no-repeat;
    background-size: 0% 0.90em;
    background-position: 0 75%;
  
}

#nav-experience {
	background-image: linear-gradient(120deg, #AC6CF0 0%, #AC6CF0 100%);
    background-repeat: no-repeat;
    background-size: 0% 0.90em;
    background-position: 0 75%;
 
}

#nav-contact {
	background-image: linear-gradient(120deg, #2B9AFF 0%, #2B9AFF 100%);
    background-repeat: no-repeat;
    background-size: 0% 0.90em;
    background-position: 0 75%;

}
#nav-work:hover, #nav-about:hover, #nav-experience:hover, #nav-contact:hover,
.active > #nav-work, .active > #nav-about, .active > #nav-experience, .active > #nav-contact {
	background-size: 100% 0.90em;
	transform: rotate(2deg);
	color: #000;
	    transition: background-size 0.2s ease-in;
}

.navbar-toggler {
	margin-top: 0;
}

@media screen and (max-width: 991px) {
	.navbar {
		background: #fff;
	}

	.active > #nav-work, .active > #nav-about, .active > #nav-experience, .active > #nav-contact {
		transform: none;
		background-size: 100% 0.90em;
		background-position: 100% 75%;
	}

}

/* OPENER ******************************************************/

#opener {
	margin-top:100px;
	margin-bottom: 100px;
}

#opener-header {
	background-image: url("../img/Rectangle.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	font-size: 42px;
}

#sub-opener {
	
}

@media screen and (max-width: 1024px) {
	#opener-header {
		background: none;
	}

}

/* WORK ******************************************************/
object {
	width: 100%;
}
.work-object {
	margin-top: 64px;
	margin-bottom: 64px;
}

#work-heading {
	text-shadow: 2px 2px #FF7373;
}

@media screen and (max-width: 991px) {
	.work-object {
		display: block;
		margin: 64px auto 64px auto;
	}

}

.work-link {
	margin-top: 48px;
	display: block;
	margin: auto;
	padding: 20px;
	background: #FF7373;
	font-size: 20px;
	float: left;
	border: none;
	border-radius: 6px;
	transition: background 0.2s ease-in, color 0.2s ease-in;
}

.work-link:hover, .work-link:focus, .work-link:active {
	background: #000;
	color: #fff;
	text-decoration: underline;
}


/* ABOUT ******************************************************/
.about-bg {
	height: 600px;
	width:100%;
	background: #FFDF00;
	border-radius: 35% 44% 42% 20% / 34% 43% 31% 69%;
}

#about-heading {
	text-shadow: 2px 2px #fff;
}

.about-content {
	margin-left: auto; 
	padding-top: 100px;
}

@media screen and (max-width: 1024px) {
	.about-bg {
		height: 100%;
		width: 100%;
		padding: 20px;
		border-radius: 6px;
	}
	.about-content { 
		padding-top: 0px;
	}
	.me {
		width: auto;
		height: 20%;
		text-align: center;
	}
}



/*
 * Keyframes for blink animation
 */
@keyframes blink {
  0% { ry: 6px; }
  3% { transform: translate(0px, 10px); ry: 1px; }
  5% { transform: translate(0px, 0px); ry: 6px; }
}

.eye {
  height: 20;
  width: 20;
  animation-name: blink;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/* RESUME ******************************************************/

.resume-btn-container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	margin: auto;
	padding: 32px;
	background: #AC6CF0;
	font-size: 24px;
	border: none;
	border-radius: 6px;
	transition: background 0.2s ease-in, color 0.2s ease-in;
}

.btn:hover, .btn:focus, .btn:active {
	background: #000;
	color: #fff;
	text-decoration: underline;
}

/* CONTACT ******************************************************/

#contact-heading {
	text-shadow: 2px 2px #2B9AFF;
}

.email {
	color: #2B9AFF;
	text-decoration: underline;
	transition: text-shadow 0.5s ease-in;
}

.email:hover {
	text-shadow: 1px 1px #2B9AFF;
	color: #000;
}

.coffee {
	margin-top: -100px;
}

@keyframes fadeInOut {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

#steam {
    animation: fadeInOut 5s infinite;
}

@media screen and (max-width: 1024px) {
	.coffee {
		margin-top: -10px;
	}
}

.footer {
	text-align: center;
	color: #333;
	font-size: 16px;
	padding: 20px;
}