body {
    background: #fcfcfc;
}
h2, h3, p {
    font-size: 1em;
    font-weight: 100;
    color: #444;
}
h2 {
    font-weight: bold;
}
footer {
    text-align: center;
    padding-top: 10%;
}
#header {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
#name {
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 10px;
    color: #444;
}
#section-head {
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 5px;
    color: #444;
    text-align: left;
}
/* logo */
.svg-logo {
    text-align: center;
}
.st0, .st1 {
   fill: #fcfcfc;
   stroke: #444;
   stroke-width: 3;
}
.st0 {
   stroke-dasharray: 1200;
   stroke-dashoffset: 0;
   -webkit-animation: dash 4s linear forwards;
   -o-animation: dash 4s linear forwards;
   -moz-animation: dash 4s linear forwards;
   animation: dash 4s linear forwards;
}
.st1 {
   stroke-dasharray: 1200;
   stroke-dashoffset: 0;
   -webkit-animation: dash 4s linear forwards;
   -o-animation: dash 4s linear forwards;
   -moz-animation: dash 4s linear forwards;
   animation: dash 4s linear forwards;
}
#logo, .st0, .st1 {
   transition: .5s;
}
@-webkit-keyframes dash {
   from {
       stroke-dashoffset: 1200;
   }
   to {
       stroke-dashoffset: 0;
   }
}
/* card */
.card {
    -webkit-transition: transform 0.5s, box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: transform 0.5s, box-shadow 0.5s;
}
.card:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    -webkit-box-shadow: 3px 5px 8px 3px rgba(0,0,0,0.16),3px 5px 13px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px 5px 8px 3px rgba(0,0,0,0.16),3px 5px 13px 3px rgba(0,0,0,0.12);
    box-shadow: 3px 5px 8px 3px rgba(0,0,0,0.16),3px 5px 13px 3px rgba(0,0,0,0.12);
}

/* filtering */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
