
body {
  background: #CCC url("../images/tree.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}


.background {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

a {
  color: #FFF;
}
p, div {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #FFF;
}
 /* shadows */
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

/* image sizing */
.self-image {
  width: 35%;
  height: 35%;
}

.self-image img {
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 200px;
}

.project {
    width: 100%;
    height: 50%;
}

.project img {
    width: 100%;
    border: 1px solid #FFF;
}

.logo-container {
    width: 250px;
    height: 250px;
}

.logo-container img {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

/* panel offsets */
.left-offset-50 {
  padding-left: 50px;
}

.vertical-offset-15 {
    padding-top: 1%;
}

/* panel styles */
.panel {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #FFF;
}

.panel-heading {
  background-color: rgba(255, 165, 0, 0.7);;
}

/* navbar */
.vertical-offset-20 {
    padding-top: 35%;
}

.left-nav-offset-100 {
  padding-left: 100px;
}

.navbar {
  background: rgba(0, 0, 0, 0.7);
  border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: orange;
}

/* make sidebar nav vertical */
@media (min-width: 978px) {
  .sidebar-nav .navbar {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {

    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #FFF
  }
}

/* wrappers for fixed navbar */
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
}

@media (max-width: 978px) {
    body {
        padding-top: 0px;
    }
}
@media (max-width: 978px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 500;
  		  border-right:0;
	}
}
